<% comments.each do |comment| %>
  <div class="comments-show">
    <div class="comment">
      <time><%= comment.created_at.strftime("%d.%m.%Y %H:%M") %></time> |
      <%= link_to comment.user.name, show_profile_path(comment.user_id) if comment.user_id %>
      <p><%= comment.body %></p>
      <div class="comment-nav"><p class="comment-reply"><%= t(".reply") %></p></div>
      <div class="reply-form">
        <%= form_for @new_comment do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag t(".reply") , class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>