
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active"><%= t(".profile") %></a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
        </li>
        <% if can? :update_profile, @user %>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link"><%= t(".edit") %></a>
        </li>

          <% end %>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">

          <div class="row">
            <div class="col-md-12">
              <h5><%= @user.name %></h5>
              <h5><%= @user.email %></h5>
            </div>

            <div class="col-md-12">
              <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
              <table class="table table-sm table-hover table-striped">
                <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td>
                      <%= post.created_at.strftime("%d %B, %Y %H:%M")%>
                    </td>
                    <td>
                      <%= link_to post.title, post_path(post) %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!--/row-->
        </div>
        <div class="tab-pane" id="messages">
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
          </div>
          <table class="table table-hover table-striped">
            <tbody>
            <tr>
              <td>
                <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
              </td>
            </tr>
            <tr>
              <td>
                <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
              </td>
            </tr>
            <tr>
              <td>
                <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
              </td>
            </tr>
            <tr>
              <td>
                <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
              </td>
            </tr>
            <tr>
              <td>
                <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <% if can? :update_profile, @user %>
        <div class="tab-pane" id="edit">
            <%= form_tag({controller: "users", action: "update_profile"}, {method: "patch",  multipart: true}) do %>
            <div class="form-group row">
              <%= label_tag :name ,t(".name"),  class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                <%= text_field_tag :name, @user.name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= label_tag :avatar, t(".avatar"), class: "col-lg-3 col-form-label form-control-label" %>
              <div class="col-lg-9">
                <%= file_field_tag :avatar %>
              </div>
            </div>
            <%= link_to t(".edit_password"), edit_user_registration_path %>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <%= submit_tag "Сохранить", class: "btn btn-primary" %>
              </div>
            </div>
             <% end %>
        </div>
            <% end %>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <h6><%= t(".avatar") %></h6>
      <%= image_tag @user.avatar.url(:thumb),class: "mx-auto img-fluid img-circle d-block" if @user.avatar? %>
    </div>
  </div>
