<div class="post">
  <section class="post-head">
  <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
    <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time> |
      <%= post.user.name if post.user_id%> |
      <%= link_to post.category.name, post.category if post.category.present? %> |
      <% if can? :update, post %>
      <%= link_to t(".edit"), edit_post_path(post) %> |
      <%= link_to t(".delete"), post_path(post), method: :delete %>
        <% end %>
    </small>

  </section>
  <section class="post-summary">
    <p><%= post.summary %></p>
  </section>

  <section class="footer-summary">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-primary"}.join(" ") %>
  </section>

</div>
