<!DOCTYPE html>
<html>
  <head>
    <title>Newspaper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p><%= link_to "new post", new_post_path %>| <%= link_to "all posts", posts_path %></p>

    <%= yield %>
  </body>
</html>
